@theme {
  --color-lime-*: initial;
  --color-fuchsia-*: initial;
  --color-white: #fff;
  --color-black: #111;
  --color-blue-50: #ebf8ff;
  --color-blue-100: #bee3f8;
  --color-blue-200: #90cdf4;
  --color-blue-300: #63b3ed;
  --color-blue-400: #473fe0;
  --color-blue-500: #2a22c7;
  --color-blue-600: #1f18a3;
  --color-blue-700: #191485;
  --color-blue-800: #19147a;
  --color-blue-900: #e6e6fa;
  --color-gray-50: #e6eaeb;
  --color-gray-100: #edf2f7;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e0;
  --color-gray-400: #a0aec0;
  --color-gray-500: #72839e;
  --color-gray-600: #4a5568;
  --color-gray-700: #2d3340;
  --color-gray-800: #1c2434;
  --color-gray-900: #131a25;
  --color-red-50: #fff5f5;
  --color-red-100: #fed7d7;
  --color-red-200: #feb2b2;
  --color-red-300: #fc8181;
  --color-red-400: #f56565;
  --color-red-500: #df484a;
  --color-red-600: #c53030;
  --color-red-700: #9b2c2c;
  --color-red-800: #822727;
  --color-red-900: #63171b;
  --color-green-50: #f0fff4;
  --color-green-100: #c6f6d5;
  --color-green-200: #9ae6b4;
  --color-green-300: #68d391;
  --color-green-400: #48bb78;
  --color-green-500: #3bd671;
  --color-green-600: #33b861;
  --color-green-700: #2da356;
  --color-green-800: #1c6636;
  --color-green-900: #113d20;
  --color-yellow-50: #fffff0;
  --color-yellow-100: #fefcbf;
  --color-yellow-200: #faf089;
  --color-yellow-300: #f6e05e;
  --color-yellow-400: #ecc94b;
  --color-yellow-500: #d69e2e;
  --color-yellow-600: #b7791f;
  --color-yellow-700: #975a16;
  --color-yellow-800: #744210;
  --color-yellow-900: #5f370e;
}
