@import "tailwindcss";
@import "./css/theme.css";

@layer base {
  * {
    &::-webkit-scrollbar {
      @apply w-[.3rem];
    }
    &::-webkit-scrollbar-track {
      @apply bg-gray-500 rounded-xl invisible;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-xl transition-all bg-transparent duration-500;
    }
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    &:hover {
      &::-webkit-scrollbar-thumb {
        @apply bg-gray-700;
      }
    }
  }
  #root {
    @apply h-full;
  }
  body {
    background-image: url("/—Pngtree—3d rendered envelopes featuring chat_7228140.jpg");
    @apply bg-no-repeat h-screen bg-cover text-white overflow-hidden;
  }
  #portals {
    @apply absolute w-full h-0 inset-0;
  }
}
@layer components {
  .btn__action {
    @apply bg-gray-900/80 size-14 
    rounded-full cursor-pointer text-purple-400 hover:text-white hover:bg-purple-500 transition-colors duration-300
     disabled:opacity-70 disabled:hover:bg-gray-900/80 disabled:text-purple-500 disabled:cursor-auto;
  }
  .btn__outline {
    @apply !bg-transparent outline outline-gray-400 hover:!bg-purple-500;
  }
}

/* add custome variant
@variant dark {
  @variant hover {
    background: black;
  }
} */

/* //simple utilities
@utility content-auto {
  content-visibility: auto;
} */
